* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
}
body{
padding-top: 5vh;
}

.main_title {
    color: #393E41;
    display: none;
    /*
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Anton', sans-serif;
*/
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 100;

    font-size: 70px;
    border: none;
}

h3 {
    padding: 30px;

    font-size: 30px;
    color: #393E41;
    
    display: none;

}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.3;
    transition: 0.3s;
}

body {
    color: #393E41;
    background-color: #FAFAFA;
   
    
}

h2 {
    margin: 0 auto;
    width: 30vw;
    text-align: center;
    padding: 20px;
    border-bottom: solid;
    border-bottom-width: 3px;

}

header{
display: flex;
    justify-content: center;
}
.header-logo{
    
width: 90vw;
    height: 5vh;
    background: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    position: fixed;
    color: #393E41;
    z-index: 99;
    
    padding: 5px;
  
    
   
}



p {
    line-height: 30px;
    text-align: center;

}

.caption {
    overflow: hidden;
    padding-top: 30px;
    
    padding: 20px;
}

.care {
    color: #FF5666;
}

.access_name{

margin-top: 70px;
}

nav {
    overflow: hidden;






}


ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;


}

li {
    list-style: none;


}

a {
    text-decoration: none;
    color: #393E41;
}

a.list {
    color: #393E41;


    float: left;
    text-decoration: none;
    padding: 0px 50px;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    border-right: solid;
    border-color: #FF5666;



}

a.list:hover {
    opacity: 0.5;
    transition: 0.1s;
}

.last {
    color: #393E41;


    float: left;
    text-decoration: none;
    padding: 0px 40px;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    border-right: none;
    border-color: #FF5666;

}

.last:hover {
    opacity: 0.5;
    transition: 0.1a;
}

.image {
    width: 100%;
}

.info {
    margin: 0 auto;
    display: none;
}

.school{
display: none;
}
.school_mobile {
    display: block;
    /* border-radius: 30px;*/
    margin: 0 auto;
    margin-top: 20px;
   
}

.container {
    overflow: hidden;
    margin: 0 auto;
   
}

.map {
    margin: 0 auto;
    display: block;
    margin-bottom: 10vh;

}

.access {
  display: none;
    
}
.access_mobile{
display: block;
    
    
}
.lastcontent {
    
    /*    width: 200vh;*/
    background-color: #393E41;
    background-size: cover;
    overflow: hidden;
    color: #FAFAFA;

    padding: 20px;
    height: 28vh;

   

}

.icon {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    
    margin-top: 40px;


}




.gakuin {
    text-align: center;
    font-size: 13px;
    color: #FAFAFA;
    background-color: #393E41;
    float: none;

}

.next {
    text-align: center;
    font-size: 13px;
    color: #FAFAFA;
    background-color: #393E41;
    float: none;


}
.twitter {
    background-color: #393E41;
    color: #fff;

    overflow: hidden;
    text-decoration: none;
}

.facebook {

    background-color: #393E41;
    color: #FAFAFA;
    background-size: cover;

    text-decoration: none;
}

.instagram {

    background-color: #393E41;
    background-size: cover;

    color: #FAFAFA;

    text-decoration: none;
}




.gakuin {
    text-align: center;
    font-size: 25px;
    color: #FAFAFA;
    background-color: #393E41;
    float: none;

}

.next {
    text-align: center;
    font-size: 25px;
    color: #FAFAFA;
    background-color: #393E41;
    float: none;


}

.link {
    display: flex;
    justify-content: space-around;
    

    margin-top: 40px;
}



footer {
    text-align: center;
    color: #FAFAFA;
    background-color: #393E41;
}

.twitter {
    width: 48px;
    height: 48px;
    background-size: cover;
    overflow: hidden;
}

#nav-drawer {
    position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
    display: none;
}

/*アイコンのスペース*/
#nav-open {
    display: inline-block;
    
    position: fixed;
     z-index: 99;
    position:relative;
     
     left: -12vw;
    width: 30px;
    width: 30px;
    height: 22px;
    vertical-align: middle;
}

/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span,
#nav-open span:before,
#nav-open span:after {
    position: absolute;
    height: 3px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 3px;
    background:#FF5666 ;
    display: block;
    content: '';
    cursor: pointer;
    
}

#nav-open span:before {
    bottom: -8px;
}

#nav-open span:after {
    bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}

#link {
    display: none;
}

/*中身*/
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*最前面に*/
    width: 90%;
    /*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;
    /*最大幅（調整してください）*/
    height: 100%;
    background: #fff;
    /*背景色*/
    transition: .3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    /*左に隠しておく*/
    background: #fafafa;
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
    display: block;
    /*カバーを表示*/
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, .15);



}

.box {
    display: inline-block;

    padding: 10px;
    width: 140px;
    height: 200px;
    



    
    
}
.link_img{
display: block;
    margin:  0 auto;
}

.bar_title {
    text-align: center;
    font-size: 50px;
    

}

.link_block {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    
    margin-top: 40px;


}

#event {
    
    border-right: dashed 2px #ff5566;
}



#food {
    border-bottom: dashed 2px #ff5566;

}

#exhbi {
    border-bottom: dashed 2px #ff5566;
    border-right: dashed 2px #ff5566;
}

.bar_title{
text-align: center;
    font-size: 25px;
    margin: 48px;
    
}

.link_title{
font-size: 20px;
    padding: 15px;
    text-align: center;
    color: #393E41;
}

.i2{
background: #fafafa;
    display: flex;
    justify-content: space-around;
    margin :43px
    width: 30%;
    margin-top: 40px;
    
    margin: 40px;
}

