* {
    margin: 0;
    padding: 0;
}

body {}

.main_title {
    text-align: center;

    text-align: center;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 70px;

}

h3 {
    padding: 30px;
    font-size: 25px;

}



nav {
    overflow: hidden;
    margin-left: 64vh;

    display: block;
    margin-top: 80px;




}



li {
    list-style: none;


}

ul {
    overflow: hidden;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #393E41;
}

a:hover {
    opacity: 0.3;
    transition: 0.3s
}


a.list {
    color: #393E41;


    float: left;
    text-decoration: none;
    padding: 0px 50px;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    border-right: solid;
    border-color: #FF5666;



}

a.list:hover {
    opacity: 0.5;
    transition: 0.1s;
}

.container {

    overflow: hidden;
    height: 100vh;
    margin-top: 60px;

}

.pokesen {
    text-align: none;
    margin-left: 100px;
    font-size: 40px;
    color: #FF5666;
    border-bottom: 2px dashed #FF5666;
    width: 1200px;
    padding: 15px;
    padding-left: 70px;
}

.pokemon {
    float: left;
    margin-right: 60px;

}

.caption {
    margin: 0 auto;
    padding-top: 120px;



}

.detail {
    width: 1100px;

    margin: 0 auto;



}

p {
    padding: 10px;
    line-height: 30px;



}

.title {}

.last {
    color: #393E41;


    float: left;
    text-decoration: none;
    padding: 0px 40px;
    font-size: 30px;
    font-family: 'Muli', sans-serif;
    border-right: none;
    border-color: #FF5666;

}

.explain {
    color: rgb(63, 142, 252);
}

.main_title {
    color: #393E41;
    font-family: 'Josefin Sans', sans-serif;

    font-family: 'Anton', sans-serif;
    font-size: 70px;
}

.back {
    background: #FF5666;
    color: #fafafafa;
    display: inline-block;
    width: 70px;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
    font-family: halyard-display, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-left: 550px;
    /*    margin-top: 25px;*/
}

.back:hover {
    color: #fafafafa;
    background: #FF5666;
    opacity: 1.0;
}



.lastcontent {
    height: 50vh;

    background-color: #393E41;


    color: #FAFAFA;
     display: flex;
    flex-direction: column;
    justify-content: center;

}

.twitter {
    background-color: #393E41;
    color: #fff;
    
    overflow: hidden;
}

.facebook {

    background-color: #393E41;
    color: #FAFAFA;
    background-size: cover;
    
    
}

.instagram {

    background-color: #393E41;
    background-size: cover;
   
   
   
    color: #FAFAFA;
    
}

.gakuin {
    text-align: center;
    font-size: 3vh;
    color: #FAFAFA;
    background-color: #393E41;
    float: none;
    
}

.next {
    text-align: center;
    font-size: 3vh;
    color: #FAFAFA;
    background-color: #393E41;
    float: none;
   
   
}


footer {
    text-align: center;
    color: #FAFAFA;
    background-color: #393E41;
}

.twitter {
    width: 48px;
    height: 48px;
    background-size: cover;
    overflow: hidden;
}
.icon {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
}
.link {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 30%;
    margin-top: 40px;

}